    <footer class="nethydra-footer">
        <section class="scope-footer">
            <div class="list-links">
                <ul>
                    <h1>Links</h1>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/get">
                            Download / Get Nethydra
                        </a>
                    </li>
                    <li>
                        <a href="/blog/">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="/doc/">
                            OS Documentations
                        </a>
                    </li>
                    <li>
                        <a href="/doc/tools/">
                            Tools Documentation
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Partnerships
                        </a>
                    </li>
                </ul>
                <ul>
                    <h1>Platforms</h1>
                    <li>
                        <a href="#">
                            Docker
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="ri-microsoft-fill"></i> WSL
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Proxmox
                        </a>
                    </li>
                </ul>
                <ul>
                    <h1>Development</h1>
                    <li>
                        <a href="#">
                            Bug tracker
                        </a>
                    </li>
                    <li>
                        <a href="https://gitlab.com/nethydra">
                           <i class="ri-gitlab-line"></i> GitLab
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/nethydra">
                           <i class="ri-github-line"></i> GitHub
                        </a>
                    </li>
                </ul>
                <ul>
                    <h1>Community</h1>
                    <li>
                        <a href="#">
                           <i class="ri-discord-line"></i> Discord
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="ri-telegram-2-line"></i> Telegram
                        </a>
                    </li>
                </ul>
                <ul>
                    <h1>Follow us</h1>
                    <li>
                        <a href="#">
                           <i class="ri-mastodon-line"></i> Infosec.exchange
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="ri-twitter-x-line"></i> Twitter/X
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="ri-instagram-line"></i> Instagram
                        </a>
                    </li>
                    <li>
                        <a href="#">
                           <i class="ri-rss-line"></i> RSS
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nethydra-logo-in-footer">
                <img src="/assets/graphics/logos/nethydra-pig.svg" alt="nethydra logo">
                <span>
                    &copy; NetHydra 2026. All right reserved.
                </span>
            </div>
        </section>
    </footer>
