    <header class="desktop_nav">
        <ul class="navlist">
            <div class="navlogo">
                <a href="/">
                <img src="/assets/graphics/logos/nethydra-text-logo-white.svg" alt="NetHydra Logo Text">
                </a>
            </div>
            <div class="flex">
                <li><a href="/blog">News</a></li>
                <li><a href="/doc">Documentations</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/get" id="get-button">GET NOW</a></li>
                <li>
                    <a href="/doc/Introduction/wiki-sonar" id="sonar-button-navbar">
                        SONAR
                    </a>
                </li>
            </div>
        </ul>
    </header>
    <nav class="nav">
        <div class="nav-area">
            <a class="brand" href="/">
                <img src="/assets/graphics/logos/nethydra-text-logo-white.svg" alt="NetHydra text logo">
            </a>

            <svg class="nav-burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M3 4H21V6H3V4ZM3 11H21V13H3V11ZM3 18H21V20H3V18Z"></path></svg>

            <div class="nav-menu">
                <a href="/doc/introduction/about-hydra">About</a>
                <a href="/doc">Documentation</a>
                <a href="https://hydrapwk.github.io/hydrapwk/issues">Issues</a>
                <a href="/get">Get HydraPWK</a>
        </div>
    </nav>