    <header class="desktop_nav">
        <ul class="navlist">
            <div class="navlogo">
                <a href="/">
                <img src="/assets/logo/nethydra-text-logo-white.svg" alt="NetHydra Logo Text">
                </a>
            </div>
            <div class="flex">
                <li><a href="https://github.com/nethydra/nethydra/issues">ISSUES</a></li>
                <li><a href="/blog">NEWS</a></li>
                <li><a href="#">OPENSOURCES</a></li>
                <li><a href="/doc">DOCUMENTATIONS</a></li>
                <li><a href="/team">TEAM</a></li>
                <li><a href="/get" id="get-button">GET NOW  <i class="ri-shopping-basket-2-fill"></i></a></li>
            </div>
        </ul>
    </header>
