<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />

    <!-- css -->
     <link rel="stylesheet" href="/assets/css/blog/blog-read.css">
     <link rel="stylesheet" href="/assets/css/misc/navbar.css">
     <link rel="stylesheet" href="/assets/css/misc/footer.css">
    <!-- endCss -->
     <!-- endCSS -->

    <!-- remixIcons -->
     <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- endremixicons -->

    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
     <!-- endGoogleFonts -->

</head>
<body>
    {% include navbar.html %}
    <div class="main_doc">
        <section class="inside_doc">
            <div id="banner_blog">
                <img src="{{ page.thumbnail }}">
                <div class="post-detail">
                    <span>
                        <i class="ri-alarm-line"></i> {{ page.date | date: "%-d %B %Y" }}
                    </span>
                    <h1 id="title">
                        {{ page.title }}
                    </h1>
                </div>
            </div>
            <div class="readme">
                {{ content }}
            </div>
        </section>
        <aside class="sidebar">
            <div class="inside-sidebar">
                <h1>
                    follow us
                </h1>
                <div class="sidebar-follow-links">
                    <a href="#">
                        <i class="ri-mastodon-fill"></i>
                    </a>
                    <a href="#">
                        <i class="ri-twitter-fill"></i>
                    </a>
                    <a href="#">
                        <i class="ri-instagram-fill"></i>
                    </a>
                </div>
            </div>
        </aside>
    </div>
    {% include footer.html %}
      <script src="/assets/scripts/navbar.js"></script>
</body>
</html>
