<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" href="/assets/css/download/get-nethydra.css">

     <link rel="stylesheet" href="/assets/css/misc/navbar.css">
     <link rel="stylesheet" href="/assets/css/misc/footer.css">
    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
     <!-- endGoogleFonts -->
    

<link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css"
  rel="stylesheet"
/>

</head>

<body>
    {% include navbar.html %}
    <div class="main_containt" style="background-color: white;">
        <div style="color: black; width: 80%; height: 100%; text-align: center;">
            <h1 style="color: black;">
                Hello, Thank you for your anthusiast, but we have moved NetHydra Download page onto link bellow (Pwn Sift), please follow the link bellow to redirect into new download page, Thank you -Joe
            </h1>
            <a href="https://pwnsift.github.io/get" style="font-size: 39px;">https://pwnsift.github.io/get</a>
        </div>
    </div>
    {% include footer.html %}
    <script src="/assets/scripts/navbar.js"></script>
</body>
</html>