<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="google-site-verification" content="m0PlQjr7u4epj73ujaVyQQqIpaarCpR0OsIzxHP0XDU" />
    <meta name="msvalidate.01" content="925E0EA5BFAC31AEA4B3DD1DD401D8A4" />
    <meta name="yandex-verification" content="73709f8847f28064" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/navbar.css">
{% include favicon.html %}
    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">    <!-- endGoogleFonts -->
    <!-- endGOogleFonts -->

    <!-- remixIcons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <!-- endRemix -->

    </head>
    
<body>
        {% include navbar.html %}
        {% include mobilenav.html %}
    <script src="/assets/js/main.js"></script>
    <div class="main_containt">
        <div id="banner">
            <section id="inside_banner">
                <div class="banner_paraghraph">
                    <h1>WELCOME TO ONBOARD<br>NetHydra THE END POINT DESTROYER.</h1>
                    <p>NetHydra The Open-source security auditing toolkit based on Debian project<br>designed and focused for industry realm, research, forensic, end point attack.</p>
                    <a href="{{ page.release }}" id="release_button" style="color: white;">Latest release available<i class="ri-arrow-right-circle-line"></i></a>
                    <div style="margin-top: 50px; display: flex;">
                        <a href="/get" id="get">GET NOW <i class="ri-shopping-bag-3-fill"></i></a>
                        <!-- <a href="/doc" id="read">read documentation <i class="ri-book-marked-line"></i></a> -->
                    </div>
                </div>
<!--                 <div class="banner_image">
                    <img src="/assets/logo/hydrapwk-logo.svg">
                </div> -->
            </section>
        </div>
        <div class="second_containt">
            <section class="layer1">
                <h2>What they're say about us.</h2>
                <div>
                    <ul style="display: flex; flex-wrap: wrap;">
                        <li id="card">
                            <p>“When you think of penetration testing, the first thing that probably comes to mind is Kali Linux … Because there’s so much to be found in Kali Linux, it can be a bit overwhelming. But HydraPWK2 … offers them in a way that’s a bit easier to comprehend.”</p><br>
                            <span>- The new stack.</span><br>
                            <a href="https://thenewstack.io/hydrapwk2-is-a-linux-distribution-that-simplifies-pentesting/">READ ME</a>
                        </li>
                        <li id="card">
                                <p>
                                    “The HydraPWK project’s latest Apes‑T1 snapshot refines its penetration‑testing Linux distribution by replacing Elasticsearch with the open‑source OpenSearch, resolving licensing issues and enhancing tools for industrial security assessments. By prioritizing real‑time performance and plug‑and‑play tools, HydraPWK appeals to specialists targeting embedded systems, offering a fresh take on pentesting without the overhead often seen in broader distros.”
                                </p><br>
                                <span>- Cyber Security News</span>
                                <br>
                                <a href="https://cybersecuritynews.com/hydrapwk-penetration-testing-os/">READ ME</a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="containt_video">
            <div class="inside_video">
                <div class="card_video">
                    <video autoplay muted loop id="industry_video">
                        <source src="/assets/graphics/industry.webm" type="">
                    </video>
                </div>
                <div class="video_paraghraph">
                    <h1>
                        Hydra Framework is Industry oriented
                    </h1>
                    <div class="video_button">
                        <a href="/get" id="trynow">Try now    <i class="ri-arrow-right-circle-line"></i></a>
                        <a href="/doc">Explore now!    <i class="ri-book-read-line"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="containt_blog">
            <a href="/blog"><h1>Latest <b>post</b> from  our blog <i class="ri-news-line"></i></h1></a>
            <div class="inside_blog">
                <ul class="list">
                    {% for post in site.posts limit:4 %}
                    <li id="card_blog">
                        <a href="{{ post.url }}">
                        <img src="{{ post.thumbnail }}">
                        <div class="inside_paraghraph">
                            <span style="font-weight: 700;">{{ post.date | date: "%-d %B %Y" }}, By {{ post.author }}</span>
                            <h1>{{ post.title }}</h1>
                            <p>{{ post.description }}</p>
                        </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="separate">
        <a href="/get">Get now! <i class="ri-shopping-cart-2-line"></i></a>
    </div>
    {% include footer.html %}
</body>
</html>
