<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="m0PlQjr7u4epj73ujaVyQQqIpaarCpR0OsIzxHP0XDU" />
    <meta name="msvalidate.01" content="925E0EA5BFAC31AEA4B3DD1DD401D8A4" />
    <meta name="yandex-verification" content="73709f8847f28064" />
    <meta name="description" content="{{ page.description }}">
    <title>{{ page.title }}</title>

    <!-- css -->
     <link rel="stylesheet" href="/assets/css/index/style.css">
     <link rel="stylesheet" href="/assets/css/misc/navbar.css">
     <link rel="stylesheet" href="/assets/css/misc/footer.css">
    <!-- endCss -->

    <!-- endCss media queries -->
    <!-- googleFonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
     <!-- endGoogleFonts -->

     <!-- remixIcons -->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@4.9.0/fonts/remixicon.css" rel="stylesheet"/>
     <!-- endRemixIcons -->

</head>
<body>
    {% include navbar.html %}
    <div class="main_containt">
        <section class="banner">
            <div class="inside_banner">
                <div class="text-container">
                    <h1>
                        WELCOME TO ONBOARD<br>NETHYDRA THE END POINT DESTROYER
                    </h1>
                    <p>
                        NetHydra The Open-source security auditing toolkit based on Debian project<br>
                        designed and focused for industry and Enterprise realm, research, forensic, end point attack.
                    </p>
                </div>
                <div class="banner_button">
                    <a id="banner_download" href="/get">Download</a>
                    <a id="sonar_button" href="/doc/Introduction/wiki-sonar">Try sonar</a>
                </div>
            </div>
        </section>
        <section class="container-2">
            <div class="review">
                <h1>reviewed by</h1>
                <div class="list-review">
                    <a href="https://thenewstack.io/hydrapwk2-is-a-linux-distribution-that-simplifies-pentesting/">
                        <img src="/assets/graphics/media/the-new-stack/the-new-stack-seeklogo.svg" alt="The new stack">
                    </a>
                    <a href="https://cybersecuritynews.com/hydrapwk-penetration-testing-os/">
                        <img src="/assets/graphics/media/cybersecuritynews/cybersecuritynews.png" alt="nethydra cybersecuritynews article">
                    </a>
                </div>
            </div>
            <div class="inside-container-2">
                <ul>
                    <div class="left-content">
                        <h1>Every <b>stack</b> you need</h1>
                    </div>
                    <div class="scope-features">
                    <li id="card-features">
                        <div class="card-features-image">
                            <img src="/assets/graphics/hero/nethydra-offsensive.svg" alt="nethydra for Offensive">
                        </div>
                        <h1>Offensive</h1>
                    </li>
                    <li id="card-features">
                        <div class="card-features-image">
                            <img src="/assets/graphics/hero/nethydra-defense.svg" alt="nethydra for Defense">
                        </div>
                        <h1>Defensive</h1>
                    </li>
                    <li id="card-features">
                        <div class="card-features-image">
                            <img src="/assets/graphics/hero/threat-intelegence.svg" alt="nethydra for threat-intelegence">
                        </div>
                        <h1>Threat intelegence</h1>
                    </li>
                    </div>
                </ul>
                <ul>
                    <li id="card-features">
                        <h1>One touch</h1>
                        <p>
                            simple end-user setup
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="container-3">
            <div class="inside-container-3">
                <div class="project-scope">
                    <div class="project-scope-text">
                        <h1 id="scope-project-h1">
                            Flexible auditing toolkit for Enterprise sector
                        </h1>
                        <p id="scope-project-p">
                            SONAR (NetHydra SONAR) is focused on Enterprise sector with everything you need for Enterprise auditing including Threat Intelegence, Web Applications security, Defense.
                        </p>
                    </div>
                    <div class="card-project">
                        <div class="card-image-title">
                            <img src="/assets/graphics/logos/sonar-logo.svg" alt="nethydra sonar logo">
                            <h1>
                                SONAR
                            </h1>
                            <h2>
                                Enterprise sector
                            </h2>
                        </div>
                        <hr class="sonar-hr">
                        <p>
                            SONAR is aimed at the enterprise sector by bringing tools for enterprise needs, for example Web Applications Security, Threat Intelligence.
                        </p>
                        <div id="button-card-project">
                            <a href="/get/#sonar-platform">Punch now</a>
                        </div>
                    </div>
                </div>
                <div class="project-scope">
                    <div class="backtrace-project">
                        <div class="card-image-title">
                            <img src="/assets/graphics/logos/backtrace-logo.svg" alt="nethydra backtrace logo">
                            <h1>
                                BackTrace
                            </h1>
                            <h2>
                                Digital forensic
                            </h2>
                        </div>
                        <hr class="backtrace-hr">
                        <p>
                            Live Digital forensic
                        </p>
                        <div id="button-card-project">
                            <a href="#">Coming soon</a>
                        </div>
                    </div>
                    <div class="project-scope-text">
                        <h1 id="scope-project-h1">
                            Live Digital Forensic Investigation Platform
                        </h1>
                        <p id="scope-project-p">
                            BackTrace is Live Digital Forensic distribution with NIST SP 800-86 methodology. backtrace-casefile would help you to Mapping Investigation very simple.
                        </p>
                        <a href="https://gitub.com/nethydra/backtrace-casefile">Coming soon</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-4">
            <div class="inside-container-4">
                <div class="inside-container-4-text">
                    <h1>
                        NetHydra for <b>non-profit</b><br>organization.
                    </h1>
                    <p>
                        Wanted to configure NetHydra to your community and non-profit organization?
                    </p>
                    <mark>
                        Get our support for free!
                    </mark>
                </div>
                <a href="mailto:partner@rstrike.my.id">apply collaboration</a>
            </div>
            <div class="nethydra-for-enterprise">
                <div class="inside-nethydra-for-enterprise">
                    <img src="/assets/graphics/hero/hero-enterprise.svg" alt="nethydra enterprise banner">
                    <div class="inside-nethydra-for-enterprise-text">
                        <h1>
                            NetHydra for Enterprise
                        </h1>
                        <p>
                            Wanted to configure NetHydra for your enterprise organization?
                        </p>
                        <div class="inside-nethydra-for-enterprise-text-button">
                            <a id="contract-enterprise" href="mailto:partner@rstrike.my.id">
                                start offer
                            </a>
                            <a id="be-partner" href="mailto:partner@rstrike.my.id">
                                be our partner
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="community">
            <div class="inside-community">
                <h1>Feel free to connect with our community</h1>
                <a href="https://discord.gg/CvsukGecd">
                    Join us
                </a>
            </div>
        </section>
        <section class="blog-container">
            <div class="inside-blog-container">
                <h2>
                    Latest <b>post</b> from our <a href="/blog">blog</a>
                </h2>
                <div class="list-blog">
                    <ul>
                        {% for post in site.posts limit:4 %}
                        <li id="card-blog">
                            <a href="{{ post.url }}">
                                <img src="{{ post.thumbnail }}">
                                <div class="card-blog-text">
                                    <div id="card-blog-date">
                                        <span>
                                            <i class="ri-calendar-line"></i>
                                             {{ post.date | date: "%-d %B %Y" }}
                                        </span>
                                    </div>
                                    <h1>
                                        {{ post.title }}
                                    </h1>
                                    <p>
                                        {{ post.description }}
                                    </p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
      <script src="/assets/scripts/navbar.js"></script>
      {% include footer.html %}
</body>
</html>
