<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/team/team.css">
    <link rel="stylesheet" href="/assets/css/misc/navbar.css">
    <link rel="stylesheet" href="/assets/css/misc/footer.css">

    <!-- googleFonst -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- endGoogleFonts -->
</head>
<body>
    {% include navbar.html %}
    <div class="main_containt">
        <div class="inside-containt">
            <div class="team-scope">
                <h1>NetHydra Team</h1>
                <ul>
                    <li class="card">
                        <img src="https://github.com/me-joe.png">
                        <div class="people-description">
                            <h1>
                                Joe (<a href="https://github.com/me-joe">@me-joe</a>) 🇮🇩
                            </h1>
                            <p>
                                Founder, project manager, blog writer, core dev, packaging, designer
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="team-scope">
                <h1>From community</h1>
                <ul>
                    <li class="card">
                        <img src="/assets/graphics/team_graphics/mrpropfp.jpg">
                        <div class="people-description">
                            <h1>
                                Mr.Pro 🇪🇬
                            </h1>
                            <p>
                                Community moderator
                            </p>
                        </div>
                    </li>
                    <li class="card">
                        <img src="/assets/graphics/team_graphics/nopfp.png">
                        <div class="people-description">
                            <h1>
                                Fox47 🇮🇹
                            </h1>
                            <p>
                                Community moderator
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
      <script src="/assets/scripts/navbar.js"></script>
      {% include footer.html %}
</body>
</html>